body {
    background-color: DarkSlateGray;
    color: yellow;
    font-family: monospace;
}

#title {
    text-align: center;
}

a {
    color: plum
}

.stuff {
    float: right;
    margin-right: 30%
}

.about {
    float: left;
    margin-left: 10%
}

